h2 {
  margin: 0;
}

.container {
  max-width: 800px;
}

label {
  float: left;
  margin-right: 20px;
}

.post-listing {

}

.post-listing__header {
  border-bottom: 1px solid;
}

.post-listing__sorting {
  margin-bottom: 0;
}