body {
  padding: 2em;
}

a {
  background: none;
}

h2 {
  margin: 0;
}

h3 {
  text-align: center;
}

.container {
  max-width: 800px;
  padding-top: 5em;
}

.modal {
  opacity: 1;
  visibility: visible;
    z-index: 1000;
}

.modal .modal-body {
  top: 50%;
}

.modal button {
    float: right;
}

label {
  /*float: left;*/
  margin-right: 20px;
}

/* Category Navigation */
.category-nav.fixed {
  left: 1em;
  top: 1em;
  right: 1em;
  width: auto;
}

/* Post Listing */
.post-listing__header {
  border-bottom: 1px solid;
}

.post-listing__sorting {
  margin-bottom: 0;
}

/* Post Teaser */
.post-teaser {
    margin-bottom: 20px;
}

.post-teaser__author {
    font-size: .8em;
    margin-bottom: 0 !important;
}

.post-teaser__footer {
  padding: 0 !important;
}

/* Post Actions */

.post-actions__delete, .post-actions__edit {
  float: right;
}

.post-actions__edit {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
  border: none;
  box-shadow: none;
  background: none;
  padding-left: .5rem;
  padding-right: .5rem;
  transform: none;
}

.btn-link:hover, .btn-link:focus {
  color: #ef8425;
}

/* Comments */
.comment {
  margin-bottom: 30px;
  overflow: hidden;
}

.comment__author {
  margin-right: 10px;
}

.comment__date {
  font-size: 0.9em;
}

.comment__body {
  font-size: 1.2em;
  font-weight: bold;
}

/* Post */
.post {
    margin-bottom: 50px;
}

.comment-input {
  width: 500px;
}

/* Post Form */
.post-form {
  padding: 40px;
    background-color: #f1f1f1;
}

.post-form label {
  display: block;
}

.post-form__input {
  width: 100%;
}

.post-form__button {
  width: 150px;
  float: right;
  margin-left: 20px;
}