h2 {
  margin: 0;
}

h3 {
  text-align: center;
}

.container {
  max-width: 800px;
}

label {
  float: left;
  margin-right: 20px;
}

.post-listing {

}

.post-listing__header {
  border-bottom: 1px solid;
}

.post-listing__sorting {
  margin-bottom: 0;
}

.post-teaser {
    margin-bottom: 20px;
}

.post-teaser__footer {
  padding: 0 !important;
}

.post-actions__delete, .post-actions__edit {
  float: right;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
  border: none;
  box-shadow: none;
  background: none;
  padding-left: .5rem;
  padding-right: .5rem;
  transform: none;
}

.btn-link:hover, .btn-link:focus {
  color: #ef8425;
}

/* Comments */
.comment {
  margin-bottom: 30px;
  overflow: hidden;
}

.comment__author {
  margin-right: 10px;
}

.comment__date {
  font-size: 0.9em;
}

.comment__body {
  font-size: 1.2em;
  font-weight: bold;
}

/* Post */
.post {
    margin-bottom: 50px;
}